@import './custom-bootstrap';

#root, body{
    width: 100%
}

body{
    font-family: 'Open Sans', sans-serif;
}

.bg-dark-primary{
    background-color: #4C2A54;
}

.img-fit-cover{
    object-fit: cover;
}

.section{
    background-image: url(../media/Sprinkle.svg);
}

.about-me{
    background-image: url(../media/aboutMeBg.jpg);
    background-size: cover; 
}

.border-radius-1{
    border-radius: 0.5em;
}

.box-shadow-1{
    box-shadow: 5px 5px 3px 5px rgba(0,0,0,0.4);
}

.introBanner{

    height: 14em;
    background-image: url(../media/header.png);
    background-size: cover;   
}

.learn-more-btn{
    color: $primary;
    align-content: center;
}

.lm-btn-darrow{
    background-color: $primary;
    mask-image: url(../media/down_arrow.svg);
    mask-mode: alpha;
    mask-size: 100%;
    

    display: inline-block;
    width: 2em;
    height: 2em;
}

.introContent{

    margin-top: 5vh;
}

.introPic{
    width: 17em;
}

.h-100vh{
    height: 100vh;
}

.w-25em{
    width: 35em;
}

.text-stroke{
    text-shadow: 
    3px 0 0 #fafafa,
    -3px 0 0 #fafafa,
    0 3px 0 #fafafa,
    0 -3px 0 #fafafa,
    3px 3px #fafafa,
    -3px -3px 0 #fafafa,
    3px -3px 0 #fafafa,
    -3px 3px 0 #fafafa;
}


@media (max-width: map-get($grid-breakpoints, "sm")){
    .w-25em{
        width: 100%;
    }

}